RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^img-(.*)-extension-([a-z]{3,4})$ upload/$1.$2 [QSA,L]

RewriteRule ^([a-zA-Z]+)-([0-9]+)\.html$ index.php?page=article&article_id=$2 [QSA,L]
RewriteRule ^(.*)\.html$ index.php?page=$1 [QSA,L]

